<%= render "layouts/header" %>
<div class="banner text-center">
	<div class="container">
		<h1>Sell or Advertise   <span class="segment-heading">    anything online </span> with Resale</h1>
		<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry</p>
		<a href="post-ad.html">Post Free Ad</a>
	</div>
</div>
<!-- Privacy -->
<div class="privacy main-grid-border">
	<div class="container">
		<h2 class="head">Fee Based Privacy Policy</h2>
		
		<ol class="privacy-start">
			<li><a href="#">The User can use fee-based services provided by the Resource Administration in order to promote his/her announcements for the purpose of increasing of sales. The Resource Administration is not responsible for the expectations and the results of the use of fee-based services. The Administration offers Subscription Packages, Premium Packages and Top Ad Promo packages for promoting Users’ announcements. Top-announcements are placed in a separate block over the ordinary announcements. If the User orders a service of announcements raising, they are getting raised over all free offers. They will be displayed on all pages of a column, a section or a region. You can familiarize yourself with more detailed information, as well as with terms of time for which fee-based services will be provided, at the address: http://swapper.com.ng/sc/top-services or http://swapper.com.ng/sc/premium-services.</a></li>

			<li><a href="#">Using the Resource the User shall order fee-based services at the address: http://swapper.com.ng/sc/top-services or http://swapper.com.ng/sc/premium-services, or through applicable section of mobile applications, in personal account, and in any other appropriate sections of the Resource as well.</a></li>

			<li><a href="#">The Resource Administration may charge a fee for Subscription packages, Premium Packages and Top Ad Promo packages, which are Fee-Based Services. The fee permits promoting Users’ announcements in a designated area of the Website. Each party posting Paid Content to the Service is responsible for the Content and compliance with the Terms&Conditions. Any such fees paid hereunder are non-refundable in the event any Content is removed from the Website for violating these Terms, as well as when the User deactivates the announcements by himself.</a></li>

			<li><a href="#">After expiration of term for which the User ordered a service of announcements promotion, he/she shall pay for such services again, if there is a need for such services, since the Resource Administration does not automatically withdraw money from a bank card.</a></li>

			<li><a href="#">The User shall be acquainted with prices for fee-based services of the Resource, whereupon he/she may order such services. More detailed information about prices for all services is provided in relevant sections of the Resource.</a></li>

			<li><a href="#">All data entered by the User on a processor’s checkout page are completely secured in accordance with the safety standards requirements. The Resource Administration receives only that information that relates to your payment.</a></li>

			<li><a href="#">Cost of services on the Resource amounts from ₦49.99 to ₦ 44999 depending on the type of selected service, region and column, where an announcement is posted. You can check a precise cost of services in your personal account having pressed “Advertise” button near your announcement, or in your personal account.</a></li>

			<li><a href="#">The Resource Administration reserves a right occasionally to fix discounts on fee-based services.</a></li>

			<li><a href="#">The Resource Administration reserves a right occasionally to alternate cost and types of fee-based services. Additionally, the Administration is entitled to notify of such alternations on its own discretion.</a></li>
		</ol>
		<h4 class="use-privay">Payment Methods:</h4>
		<ul class="privacy-start">
			<li><a href="#">Fee-based services of the Resource can be paid for by means of a bank card. When selecting a specific fee-based service the User will be automatically redirected on the processor’s checkout page for entering of bank card details.</a></li>

			<li><a href="#">The User can pay for fee-based services of the Resource by means of money transfer to the bank account of the Resource Administration on the basis of Resource Administration`s invoice.</a></li>
		</ul>
	</div>
</div>
<!-- // Privacy -->
<%= render "layouts/footer" %>