<%= render "layouts/header" %>
    <div class="main-banner banner text-center">
        <div class="container">
            <h1>Sell or Trade   <span class="segment-heading">    by BARTER </span> with Swapper</h1>
            <p>The first trade by barter online system in Nigeria</p>
            <a href="<%= new_product_path %>">Post Free Ad</a>
        </div>
    </div>
    <!-- content-starts-here -->
    <!-- How it works -->
		<div class="work-section">
			<div class="container">
				<h2 class="head">How It Works</h2>
					<div class="work-section-head text-center">
						<p>Fast, easy and free to post an ad and you will find, what you are looking for.</p>
					</div>
					<div class="work-section-grids text-center">
						<div class="col-md-3 work-section-grid">
							<i class="fa fa-pencil-square-o"></i>
							<h4>Post an Ad</h4>
							<p>Do you have a property for sale? or a shop, post free ads on swapper.com.ng</p>
							<span class="arrow1"><img src="/assets/arrow1.png" alt="" /></span>
						</div>
						<div class="col-md-3 work-section-grid">
							<i class="fa fa-eye"></i>
							<h4>Find an item</h4>
							<p>Looking for where to buy from? Hook up with people from your area</p>
							<span class="arrow2"><img src="/assets/arrow2.png" alt="" /></span>
						</div>
						<div class="col-md-3 work-section-grid">
							<i class="fa fa-phone"></i>
							<h4>contact the seller</h4>
							<p>Get quick access to sellers and transact faster</p>
							<span class="arrow1"><img src="/assets/arrow1.png" alt="" /></span>
						</div>
						<div class="col-md-3 work-section-grid">
							<i class="fa fa-money"></i>
							<h4>make transactions</h4>
							<p>Make payments and walk away with your purchased items</p>
						</div>
						<div class="clearfix"></div>
						<a class="work" href="<%= new_product_path %>">Get started Now!</a>
					</div>
				</div>
		</div>	
	<!-- // How it works -->
    <%= render "layouts/footer" %>