<div class="side-bar col-md-3">
    <div class="featured-ads">
        <h2 class="sear-head fer">Featured Ads</h2>
        <div class="featured-ad">
            <a href="#">
                <div class="featured-ad-left">
                    <img src="/assets/f1.jpg" title="ad image" alt="" />
                </div>
                <div class="clearfix"></div>
            </a>
        </div>
        <div class="featured-ad">
            <a href="#">
                <div class="featured-ad-left">
                    <img src="/assets/f2.jpg" title="ad image" alt="" />
                </div>
                <div class="clearfix"></div>
            </a>
        </div>
        <div class="featured-ad">
            <a href="#">
                <div class="featured-ad-left">
                    <img src="/assets/f3.jpg" title="ad image" alt="" />
                </div>
                <div class="clearfix"></div>
            </a>
        </div>
    </div>
</div>