<div class="side-bar col-md-3">
    <div class="featured-ads">
        <h2 class="sear-head fer">Featured Ads</h2>
        <div class="featured-ad">
            <a href="#">
                <div class="featured-ad-left">
                    <%= image_tag "f1.jpg", style: "" %>
                </div>
                <div class="clearfix"></div>
            </a>
        </div>
        <div class="featured-ad">
            <a href="#">
                <div class="featured-ad-left">
                    <%= image_tag "f2.jpg", style: "" %>
                </div>
                <div class="clearfix"></div>
            </a>
        </div>
        <div class="featured-ad">
            <a href="#">
                <div class="featured-ad-left">
                    <%= image_tag "f3.jpg", style: "" %>
                </div>
                <div class="clearfix"></div>
            </a>
        </div>
    </div>
</div>