<div class="side-bar col-md-3">
    <div class="featured-ads">
        <h2 class="sear-head fer">Featured Ads</h2>
       <div id="sliderFrame" class="featured-ad">
        <div id="slider" class="featured-ad-left">
            <a href="http://wwwswapper.com.ng">
                <%= image_tag "f1.jpg", style: "" alt: "ads"%>
            </a>
            <%= image_tag "f1.jpg", style: "" %>
            <%= image_tag "f2.jpg", style: "" %>
            <%= image_tag "f3.jpg", style: "" alt: "google"%>
        </div>
        <div id="google" style="display: none;">
            <em>HTML</em> caption. Link to <a href="http://www.google.com/">Google</a>.
        </div>
    </div>
    </div>
</div>
    