<!DOCTYPE html>
<html>
<head>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-116912903-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-116912903-1');
</script>
	<title>Swapper - Nigeria's market square</title>
	<%= csrf_meta_tags %>

	<%= stylesheet_link_tag    'swapper', media: 'all', 'data-turbolinks-track': 'reload' %>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="keywords" content="swapper, swapper.com.ng, e-commerce, nigerian e-commerce, e-commerce website, barter, buy or sell, online trading, buy or sell online, exchange, fashion, cars, mobile devices, hobbies, electronics, pets, e-commerce platform, online business" />
	<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
	<link href='//fonts.googleapis.com/css?family=Ubuntu+Condensed' rel='stylesheet' type='text/css'>
	<link href='//fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic' rel='stylesheet' type='text/css'>
	<%= javascript_include_tag 'swapper', 'data-turbolinks-track': 'reload' %>

	<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
	<script>
	  (adsbygoogle = window.adsbygoogle || []).push({
	    google_ad_client: "ca-pub-2755038002012195",
	    enable_page_level_ads: true
	  });
	</script>
<script type='text/javascript' src='//platform-api.sharethis.com/js/sharethis.js#property=5b09e7decbc3900011ee2b50&product=inline-share-buttons' async='async'></script>
<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
</head>

<body>
	<%= yield %>
</body>
</html>
